GitHub  Login Error 

<ul>
  <li> You  GitHub  Account  Email  And before  CNodejs  Sign in  Email  Repeat 。</li>
  <li>
    <p> May also be  You  Of  GitHub  Does not provide public  Of  Profile Email  Lead to registration failure 。</p>

    <p> Visit ：https://github.com/settings/profile  Set up  You  Of  Open  Email  Address 。 Make sure  You  GitHub  Of  Visible profile  Of  Email， As shown below ：</p></li>
  <a href="https://github.com/alsotang" target="_blank"><img src="http://alsotang.u.qiniudn.com/QQ20140807-1.png"></a>
</ul>


