<div class='col_fade'>
  <p> Server built in 
    <a href="https://www.digitalocean.com/?refcode=eba02656eeb3" target="_blank"
      class="sponsor_outlink" data-label="digitalocean">
      <img src="<%- staticFile('/public/images/digitalocean.png') %>" title="digitalocean"
      alt="UCloud Cloud Hosting " width="92px"/>
    </a>
  ， Sponsors for storage 
    <a href="http://www.qiniu.com/?ref=cnode" target="_blank"
      class="sponsor_outlink" data-label="qiniu_bottom">
      <img src="<%- staticFile('/public/images/qiniu.png') %>" title=" Seven cattle cloud storage "
      alt=" Seven cattle cloud storage " width="115px"/>
    </a>
  </p>
</div>
