<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Markdown  Syntax Reference </span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>###  One-line title </tt></li>
        <li><tt>** Bold face **</tt></li>
        <li><tt>`console.log(' Inline code ')`</tt></li>
        <li><tt>```js\n code \n```</tt>  Tag code block </li>
        <li><tt>[ Contents ]( Link )</tt></li>
        <li><tt>![ Caption ]( Picture  Link )</tt></li>
      </ol>
      <span><a href='http://www.ituring.com.cn/article/775' target='_blank'>Markdown  File </a></span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'> Thread Guide </span>
    </div>
    <div class='inner'>
      <ol>
        <li> Try to concentrate the title in the subject points </li>
        <li> Code Meaning and error in  <a href="http://segmentfault.com/t/node.js">SegmentFault</a>  Question </li>
        <li> Select the appropriate label to the topic can increase browsing </li>
      </ol>
    </div>
  </div>

</div>
