<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'> Home </a><span class='divider'>/</span></li>
        <li class='active'>FAQ</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>FAQ</h3>
      <hr/>
      <div class="topic_content">
        <p>A：CNode  Community and  Node Club  What is the relationship ？</p>

        <p>Q：Node Club  Is a use  Node.js  And  MongoDB  Development of open source software community ，CNode  Is based  Node Club  Of  Node.js  Chinese technical community 。</p>
      </div>
    </div>
  </div>
</div>
