<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'> Home </a><span class='divider'>/</span></li>
        <li class='active'>Node.js  Getting Started </li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
## Node.js  Getting Started 

《** Quickly build  Node.js  Development environment and accelerate  npm**》

http://fengmk2.cnpmjs.org/blog/2014/03/node-env-and-faster-npm.html

《**Node.js  Package package will not teach **》

https://github.com/alsotang/node-lessons

《** Seven days to learn NodeJS**》

https://github.com/nqdeng/7-days-nodejs

《**Node Getting Started -_ A comprehensive Node.js Course _**》

http://www.nodebeginner.org/index-zh-cn.html

## Node.js  Resources 

《**node123-_node.js Chinese data navigation _**》

https://github.com/youyudehexie/node123

《**A curated list of delightful Node.js packages and resources**》

https://github.com/sindresorhus/awesome-nodejs

《**NODE.JS MODULES**》

https://nodejsmodules.org/

## Node.js  Books 

《**Node.js Books**》

https://github.com/pana/node-books

## Node.js  Celebrity 

《** Celebrity  Hall **》

https://github.com/cnodejs/nodeclub/wiki/%E5%90%8D%E4%BA%BA%E5%A0%82
*/
        })) %>
      </div>
    </div>
  </div>
</div>
